
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<div class="container">
    <h1>university</h1>
    <div class="menu">
        <a href="#">fakultet</a>
        <a href="#">kafedra</a>
        <a href="#">fanlar</a>
        <a href="#">talabalar</a>
        <a href="#">ustozlar</a>
    </div>
    <div class="profile">
        <img src='{% static 'images/miryus.png' %}' alt="user">
        <p>user</p>

    </div>

</body>
</html>